.navbar-brand {
    font-size: 26px;
    font-family: 'Georgia', 'Times', 'Times New Roman', serif;
    font-weight: bold;
}

.navbar-header {
    padding: 20px 0;
}

.navbar-collapse {
    padding: 20px 0;
}


@media screen and (max-width: 768px) {
	.navbar-right {
        width: 100%;
        height: 100%;
        padding: 0px 0px 0px 10px;
    }
}


body {
    background-image: url("../images/background.png");
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
   
}

#about-header {
    color: #4aaaa5;
    font-weight:  bold;
    font-family: 'Georgia', 'Times', 'Times New Roman', serif;
}

#connect-header {
    color: #4aaaa5;
    font-weight:  bold;
    font-family: 'Georgia', 'Times', 'Times New Roman', serif;
}


#connect-body {
    text-align: center;
}


#headshot {
    text-align: center;
}





#hangman {
    margin: 0px auto 20px;
}

#crystal {
    margin: 0px auto 20px;
}

#trivia {
    margin: 0px auto 20px; 
}

#gifs {
    margin: 0px auto 20px;
}

#train {
    margin: 0px auto 20px;
}

#tune {
    margin: 0px auto 20px;
}

#liri {
    margin: 0px auto 20px;
}

#bamazon {
    margin: 0px auto 20px;
}

#friend-finder {
    margin: 0px auto 20px;
}



.iconhover {
    transition: all .3s ease-in;
    display: inline-block;
}

.iconhover:hover {
    opacity: 0.6;
}


main {
    margin-bottom: 130px;
 }
 

.footer-copyright {
    text-align: center;
    padding: 40px 0;
}



.navbar-fixed-bottom {
    background-color: #666666;
    color: #ccc;
    border-top-style: solid;
    border-top-color: #4aaaa5;
    border-top-width: 6px;

}